.user {
  padding: 0 24px;
  display: flex;
  width: 100%;
  height: fit-content;
  margin-bottom: 32px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 12px;
}

.review {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 30px;
  border-radius: 5px;
  background-color: red;
  width: 1326px;
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.reviewName {
  font-weight: bold;
}

.reviewRating {
  display: flex;
  margin: 20px;
}

.reviewStar {
  color: gold;
  font-size: 1.2rem;
}

.reviewDate {
  font-size: 1rem;
  color: #aaa;
}

.reviewText {
  margin-bottom: 12px;
}

.reviewShowMore {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
}
