.layout {
  display: flex;
  height: calc(100% - 48px);
  min-width: calc(100% - 400px);
  width: calc(100% - 25vw);
  max-width: calc(100% - 300px);
  transition: all 0.3s ease-in-out;
}

.layout.full {
  width: 100%;
}
