.ProfilePage {
  width: 100vw;
  display: flex;
}
.ProfilePage main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: calc(100vw - 392px);
}
.ProfilePage aside {
  width: 384px;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-left: var(--border);
  position: fixed;
  top: 64px;
  right: 0;
}

.ProfileHeader {
  height: 283px;
  border-bottom: var(--border);
  width: 100%;
  display: flex;
  align-items: end;
  padding: 0 96px;
}
.ProfileInfo {
  display: flex;
  align-items: center;
  transform: translateY(32px);
}

.Info {
  margin-left: 32px;
}

.Info h1 {
  font-size: 32px;
  color: var(--dark-primary-color);
}
.Info p {
  font-size: 24px;
  color: var(--primary-color);
}

.Challenges {
  width: 100%;
  padding: 24px;
}

.ChallengesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.ChallengesHeader button {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: var(--dark-gray-color);
  outline: none !important;
}

.ChallengesHeader button:hover {
  background-color: var(--gray-color);
  color: var(--dark-primary-color);
  transition: all 0.3s;
}
.ChallengesHeader button:disabled {
  background-color: white;
  color: var(--gray-color);
  cursor: not-allowed;
}

.ChallengesList > * {
  width: 100%;
  margin-bottom: 12px;
}

.PageContent {
  margin-top: 64px;
  width: 100%;
  height: 100%;
  padding: 0 48px;
}
