.Card {
  border-radius: var(--small-border-radius);
  background-color: white;
  border: 1px solid var(--gray-color);
  height: 52px;
  width: calc(100% - 24px);
  margin: 0 auto;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

.Card.Selected {
  background-color: var(--light-primary-color);
  border: 1px solid var(--primary-color);
}

.Card.Done {
  background-color: var(--success-color);
  border: 1px solid var(--dark-success-color);
}

.Card.Expired {
  background-color: var(--gray-color);
  border: 1px solid var(--gray-color);
}

.Card:hover {
  background-color: var(--gray-color);
  border: 1px solid var(--primary-color);
  transition: all 0.3s;
}
.Card.Expired:hover {
  border: 1px solid var(--dark-gray-color);
}
.Info {
  margin-bottom: 8px;
  color: var(--dark-gray-color);
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.ChallengeInfo {
  display: flex;
}

.ChallengeInfo p {
  font-weight: 600;
  font-size: 12px;
  color: var(--dark-primary-color);
  margin-right: 8px;
}

.ChallengeInfo a {
  font-size: 12px;
  color: var(--dark-gray-color);
  text-decoration: none;
}

.ChallengeInfo a:hover {
  text-decoration: underline;
}

.Progress {
  width: 100%;
}
