.layout {
  display: flex;
  height: calc(100vh - 64px);
  width: 100%;
}

.content {
  height: 100%;
  flex: 1;
  overflow-y: auto;
}

.sidePannelContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
}

.sidePannelContainer.Hiden {
  -webkit-animation: shrenk-right 0.5s both !important;
  animation: shrenk-right 0.5s both !important;
}

@-webkit-keyframes shrenk-right {
  0% {
    width: 480px;
  }

  100% {
    width: 0;
  }
}
@keyframes shrenk-right {
  0% {
    width: 480px;
  }
  100% {
    width: 0;
  }
}
