.layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.content {
  height: 100%;
  width: calc(100% - 480px);
}

.sidePannelContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
}
