.List{
   display:flex;
   flex-direction: row;
   gap: 36px;
   flex-wrap: wrap;
   margin: 40px;
}
.ListTitle{
   margin: 20px;
   padding: 20px;
   font-weight: 800;
   font-size: 36px;
}
.ListHeader {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
      border-bottom: var(--border);
}
.Controllers{
   display: flex;
   flex-direction: row;
   gap: 24px;
}