.Header {
  height: 48px;
  width: 100vw;
  border-bottom: var(--gray-color) 1px solid;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0 48px;
  background-color: white;
  z-index: 10;
  /* border: 1px solid green; */
}
