.SingleListPage {
  width: 100%;
}
.ListHeader {
  display: flex;
  justify-content: start;
  align-items: baseline;
  border-bottom: var(--border);
}
.ListTitle {
  margin: 28px 44px 8px;
  font-weight: 700;
  font-size: 32px;
  padding: 4px;
  border-radius: var(--large-border-radius);
}
.Controllers {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}
.List {
  display: flex;
  flex-direction: row;
  gap: 36px;
  flex-wrap: wrap;
  margin: 48px;
}