.MessageField {
  width: 100%;
  display: flex;
  gap: 24px;
  align-items: center;
  max-height: 95px;
}

.Send {
  height: 42px;
  width: 42px;
  border-radius: var(--large-border-radius);
  border: none;
  background-color: var(--primary-color);
  color: white;
  font-size: large;
  transition: all 0.2s;
}

.Send:hover {
  background-color: var(--dark-primary-color);
  box-shadow: var(--shadow-near);
}

.Send:active {
  transform: scale(0.9);
}
