.SelectorCard {
  background-color: white;
  border-radius: calc(var(--small-border-radius) + 12px);
  box-shadow: var(--near-border-shadow);
  border: 1px solid var(--gray-color);
  padding: 12px 0;
  position: absolute;
  top: 115px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  box-shadow: var(--shadow-near);
}

.SelectorCard > div {
  margin-bottom: 8px;
}
