.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    to right,
    var(--light-primary-color),
    white
  );
  margin-bottom: 30px;
}
.Title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  margin: 20px;
  padding: 20px;
  font-weight: 800;
  font-size: 36px;
}
